<%= title 'aliens' %>

<ul>
  <li><a href="/home.html">home</a></li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li>aliens</li>
</ul>

<img src="/img/aliens.jpg" title="aliens">

<script type="text/javascript">window.parent.iframeLoad(window)</script>
