<%= title 'Anchor' %>
<div id="top" style="width:500px;height:10000px;"></div>
<div id="bottom" style="width:500px;height:10000px;"></div>
<script type="text/javascript">window.parent.iframeLoad(window)</script>
