<%= title 'Anchor' %>
<div id="top" style="width:500px;height:10000px;"></div>
<a name="bottom" style="width:500px;height:10000px;display:block;"></a>
<script type="text/javascript">window.parent.iframeLoad(window)</script>
