<%= title 'dinosaurs' %>

<ul>
  <li><a href="/home.html">home</a></li>
  <li>dinosaurs</li>
  <li><a href="/aliens.html">aliens</a></li>
</ul>

<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/GcjxwXCxBBU" frameborder="0" allowfullscreen></iframe>

<script type="text/javascript">window.parent.iframeLoad(window)</script>
