<%= title 'Form' %>

<form action="env.html" method="GET">
  <input type="text" value="foo">
  <textarea>foo</textarea>

  <input type="checkbox" value="foo">
  <input type="radio" value="foo">

  <select>
    <option value="foo">foo</option>
    <option value="bar">bar</option>
    <option value="baz">baz</option>
  </select>

</form>

<script type="text/javascript">window.parent.iframeLoad(window)</script>
