<%= title 'Form' %>

<form action="/form_post.html" method="post" data-pjax>
	<input name="test" type="text" />
	<input name="test1" type="text" />
	<input name="submit3" type="submit" value="submit value 3" />
	<input name="submit" type="submit" value="submit value" />
	<input name="submit2" type="submit" value="submit value 2" />
	<button name="submit" type="submit" value="submit value">Submit Button</button>
</form>

<script type="text/javascript">
	$("#main")
		.pjax("a")
			.on('submit', 'form[data-pjax]', function(evt) {
			  $.pjax
			    .submit(evt, $("#main"));
			})

	window.parent.iframeLoad(window)
</script>
