<%= title 'Home' %>

<ul>
  <li>home</li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li><a href="/aliens.html">aliens</a></li>
  <li><a href="https://www.google.com/">Google</a></li>
  <li><a href="#main">Main</a></li>
</ul>

<div style="width:500px;height:10000px;"></div>

<script type="text/javascript">window.parent.iframeLoad(window)</script>
