<%= title 'Home' %>

<ul>
  <li>home</li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li><a href="/aliens.html">aliens</a></li>
  <li><a href="https://www.google.com/">Google</a></li>
  <li><a href="#main">Main</a></li>
  <li><a href="#">Empty</a></li>
</ul>

<form action="env.html" method="GET">
  <input name="foo" value="1">
  <input name="bar" value="2">
</form>

<div style="width:500px;height:10000px;"></div>

<script type="text/javascript">window.parent.iframeLoad(window)</script>
