<%= title 'Home' %>
<ul>
  <li><a href="/home">home</a></li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li><a href="/aliens.html">aliens</a></li>
</ul>
<script type="text/javascript">window.parent.iframeLoad(window)</script>
