<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <script type="text/javascript" src="test/jquery-1.9.0.js"></script>
  <script type="text/javascript" src="jquery.pjax.js"></script>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
