<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/vendor/qunit.css">
  <meta name="viewport" content="initial-scale=1.0,width=device-width">

  <script type="text/javascript" src="/vendor/jquery-<%= jquery_version %>.js"></script>
  <script type="text/javascript" src="/vendor/qunit.js"></script>
  <script type="text/javascript">QUnit.config.testTimeout = 2000</script>
  <script type="text/javascript" src="/jquery.pjax.js"></script>
  <script type="text/javascript" src="/test/unit/helpers.js"></script>
  <script type="text/javascript" src="/test/unit/pjax.js"></script>
  <script type="text/javascript" src="/test/unit/fn_pjax.js"></script>
  <script type="text/javascript" src="/test/unit/pjax_fallback.js"></script>
</head>
<body>
  <div id="qunit"></div>
  <ol id="qunit-fixture"></ol>
</body>
</html>
