<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/test/qunit-1.6.0.css">

  <script type="text/javascript" src="/test/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/test/qunit-1.6.0.js"></script>
  <script type="text/javascript" src="/jquery.pjax.js"></script>
  <script type="text/javascript" src="/unit/pjax.js"></script>
  <script type="text/javascript" src="/unit/fn_pjax.js"></script>
  <script type="text/javascript" src="/unit/pjax_fallback.js"></script>
</head>
<body>
  <h1 id="qunit-header">Test Suite</h1>
  <h2 id="qunit-banner"></h2>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <ol id="qunit-fixture"></ol>
</body>
</html>
