<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/test/qunit.css">

  <script type="text/javascript" src="/test/jquery-1.9.0.js"></script>
  <script type="text/javascript" src="/test/qunit.js"></script>
  <script type="text/javascript">QUnit.config.testTimeout = 10000</script>
  <script type="text/javascript" src="/jquery.pjax.js"></script>
  <script type="text/javascript" src="/unit/pjax.js"></script>
  <script type="text/javascript" src="/unit/fn_pjax.js"></script>
  <script type="text/javascript" src="/unit/pjax_fallback.js"></script>
</head>
<body>
  <div id="qunit"></div>
  <ol id="qunit-fixture"></ol>
</body>
</html>
