<p>Got some script tags here</p>
<script type="text/javascript" src="/test/evaled.js?1"></script>
<script src="/test/evaled.js?2"></script>
<script type="text/javascript">
  window.evaledInlineLog = window.evaledInlineLog || []
  window.evaledInlineLog.push('<%= params[:name] %>')
</script>
<script type="text/javascript">window.parent.iframeLoad(window)</script>
