<ul>
  <li>home</li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li><a href="/aliens.html">aliens</a></li>
</ul>

<p>
  Click on a link and notice that the time doesn't change.
</p>

<p>
  The time only changes on a full page load.
</p>

<p>
  Welcome to pjax.
</p>
