<ul>
  <li>home</li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li><a href="/aliens.html">aliens</a></li>
</ul>

<p>
  Click on a link. If the pjax checkbox is checked,
  the time won't change. This means we're only loading the chrome,
  not the layout.
</p>

<p>
  The time only changes on a full page load. If the pjax
  checkbox is unchecked you'll see what pre-pushState browsers
  and browsers without JS see.
</p>

<p>
  Welcome to pjax.
</p>
