<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title><%= @title ? "#{@title} - " : nil %> pjax</title>

  <script src="jquery.js"></script>
  <script src="jquery.cookie.js"></script>
  <script src="pages.js"></script>

  <script src="jquery.pjax.js"></script>
  <script type="text/javascript">
    $(function(){
      // pjax
      $('ul a').pjax('#main')
    })
  </script>

  <style>
    pre{
      float:left;
    }
    #main{
      float:left;
      margin-left:-120px;
      padding-top:80px;
      width:30%;
    }
    ul{padding-left:15px;}
  </style>
</head>

<pre>

               ／￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣
               |　<b>It's <%= Time.now.strftime '%I:%M:%S %p' %></b>
               ＼＿　 ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
        .--.     (  )
       /    \   ( )
      ## a  a  .
      (   '._)
       |'-- |
     _.\___/_   ___<label><input type="checkbox" name="pjax" />pjax</label>___
   ."\> \Y/|<'.  '._.-'
  /  \ \_\/ /  '-' /
  | --'\_/|/ |   _/
  |___.-' |  |`'`
    |     |  |
    |    / './
   /__./` | |
      \   | |
       \  | |
       ;  | |
       /  | |
 jgs  |___\_.\_
      `-"--'---'

<a href="https://github.com/defunkt/jquery-pjax">github.com/defunkt/jquery-pjax</a>
</pre>

<div id="main">
  <%= yield %>
</div>

</html>